<!-- login.component.html -->
<div class="wrapper">
  <div class="login-card">
    <div class="login-header">
      <img src="../../assets/Logo.svg" alt="Logo" class="logo"/>

      <div class="welcome-text">
        <h1>Bem-vindo</h1>
        <p>
          Organize suas tarefas de forma simples e eficiente. Aqui você pode
          criar novas atividades, acompanhar seu progresso e riscar itens
          concluídos com apenas um clique. Mantenha o foco no que realmente
          importa e torne o seu dia mais produtivo.
        </p>
      </div>
    </div>

    <form>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput type="password" />
      </mat-form-field>

      <button mat-flat-button class="full-width button-primary">Entrar</button>
    </form>
  </div>

  <div class="image-bg"></div>
</div>
